[submodule "lib/weya"]
	path = lib/weya
	url = git@github.com:vpj/weya.git
[submodule "lib/mod"]
	path = lib/mod
	url = git@github.com:vpj/mod.git
[submodule "ui-assets/lib/CodeMirror"]
	path = ui-assets/lib/CodeMirror
	url = git@github.com:codemirror/CodeMirror.git
[submodule "ui-assets/lib/skeleton"]
	path = ui-assets/lib/skeleton
	url = git@github.com:dhg/Skeleton.git
