
.CodeMirror {
 background: #f8f8f8;
 margin-bottom: 20px;
 font-size: 0.9em;
}

.error {
 font-weight: bold;
 font-family: monospace;
 color: #ff4444;
}

.preview {
 overflow-y: scroll;
}

.wallapatta-editor {
 max-width: 2000px;
 width: 100%;
 overflow-y: hidden;
}


