.wallapatta {
 h1, h2, h3, h4, h5, h6 {
 }

 pre {
  word-wrap: break-word;
 }

 p {
  margin: 0 0 1.5em;
 }

 .sidenote {
  font-size: 0.8em;
  padding-bottom: 20px;
 }

 .fill {
 }

 .image-container {
  margin: 10px 0px;
  img {
   max-width: 100%;
  }
 }

 h1.title {
  font-weight: 300;
  font-size: 48px;
 }

 .special {
  background: #e0e0e0;
  padding: 10px;
  border-left: 10px solid #aaa;
  margin-bottom: 1.5em;
 }

 @media print {
  a {
   &[href] {
    &:after {
     content: " (" attr(href) ")";
     font-size: 10px;
     font-weight: normal;
     font-style: italic;
     color: #777;
     word-wrap: break-word;
    }
   }
  }
 }
}

.wallapatta-container {
 max-width: 750px;
}

.wallapatta-print {
 max-width: 5000px;
 width: 170mm;
 margin: 0;
}

@media print {
 @page {
  size: A4;
  margin-top: 10mm;
 }
}

@page {
  size: A4;
}
@media print {
  html, body {
    //width: 210mm;
    //height: 297mm;
  }
  /* ... the rest of the rules ... */
}
