.docscript {
 font-family: "Lato", sans-serif;
 color: #4d4d4d;
 line-height: 1.5;
 font-size: 16px;

 h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.2;
  color: #3a3a3a;
//  font-weight: bold;
 }

 p {
  margin: 0 0 1.5em;
 }

 a {
  color: #000;
  border-bottom: 1px solid #98FF98;

  &:hover {
   text-decoration: none;
   border-bottom: 2px solid #98FF98;
  }
 }

 h1, h2 {
  margin-top: 40px;
 }

 h1 {
  margin-bottom: 30px;
 }

 h3 {
  margin-top: 30px;
 }

 h4, h5, h6 {
  margin-top: 25px;
 }

 ol, ul {
  padding-left: 20px;
 }

 .sidenote {
  font-size: 0.8em;
  padding-bottom: 20px;
 }

 .fill {
  width: 100%;
 }

 .image-container {
  //text-align: right;
  margin: 10px 0px;
  img {
   max-width: 100%;
  }
 }

 .special {
  background: #e0e0e0;
  padding: 10px;
  border-left: 10px solid #aaa;
  margin-bottom: 1.5em;
 }

 @media print {
  a {
   &[href] {
    &:after {
     content: " (" attr(href) ")";
     font-size: 10px;
     font-weight: normal;
     font-style: italic;
     color: #777;
     word-wrap: break-word;
    }
   }
  }
 }
}
@media print {
    @page {
     size: A4;
     margin: 10mm;
    }
}

.CodeMirror {
 background: #f8f8f8;
 margin-bottom: 20px;
 font-size: 0.9em;
}

.error {
 font-weight: bold;
 font-family: monospace;
 color: #ff4444;
}

.preview {
 overflow-y: scroll;
}

.docscript-container {
 max-width: 750px;
}
