html {
 -webkit-print-color-adjust:exact;
}

toolbar {
 i {
  color: #737475;
 }

 .file-name {
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
 }

 span {
  display: inline-block;
 }
}

.CodeMirror {
 background: #f8f8f8;
 margin-bottom: 20px;
 font-size: 0.9em;
 .cm-invalid_spelling { background: rgba(255, 0, 0, 1); }
 .cm-word_level_0 { background: rgba(255, 127, 0, 0); }
 .cm-word_level_1 { background: rgba(255, 127, 0, 0.05); }
 .cm-word_level_2 { background: rgba(255, 127, 0, 0.10); }
 .cm-word_level_3 { background: rgba(255, 127, 0, 0.15); }
 .cm-word_level_4 { background: rgba(255, 127, 0, 0.20); }
 .cm-word_level_5 { background: rgba(255, 127, 0, 0.25); }
 .cm-word_level_6 { background: rgba(255, 127, 0, 0.30); }
 .cm-word_level_7 { background: rgba(255, 127, 0, 0.35); }
 .cm-word_level_8 { background: rgba(255, 127, 0, 0.40); }
 .cm-word_level_9 { background: rgba(255, 127, 0, 0.45); }
 .cm-word_level_10 { background: rgba(255, 127, 0, 0.50); }

 .cm-meta { color: #644; }
 .cm-header { color: #000; font-weight: bold; }
 .cm-tag { color: #0a0; font-weight: bold; }
 .cm-link {
  color: #00c;
  text-decoration: underline;
  font-weight: normal;
 }
 .cm-media {
  color: #00c;
  font-weight: normal;
 }
 .cm-comment { color: #777; }
 .cm-inline-html { color: #c00; }
}

.error {
 font-weight: bold;
 font-family: monospace;
 color: #ff4444;
}

.editor {
 width: 100%;
}

.preview-pane {
 flex-grow: 5;
 border: none;
 padding-left: 25px;
 padding-right: 25px;
}
.editor-pane {
 flex-grow: 5;
}

.wallapatta-editor {
 max-width: 2000px;
 width: 100%;
 overflow-y: hidden;
}

.pick-media {
 flex-grow: 5;
 border: none;
 padding: 25px;
}

.print-form {
 padding: 25px;
}


@media print {
 .window {
  position: initial;
  display: block;
  .toolbar {
   display: none;
  }
  .window-content {
   position: initial;
   display: block;
  }
 }
 .print-form {
  display: none !important;
 }
}

